---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">实习经历</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
        title="百姓网股份有限公司————全栈开发工程师"
        subtitle="2024.06——2024.09 研发部"
    >
      <!--负责公司的网站需求改进及上线（PHP），维护和更新-->
    </TimeLineElement>
    <TimeLineElement
        title="软科启点编程机构————兼职编程教师"
        subtitle="2024.04——2024.10 教学部"
    >
    </TimeLineElement>
    <TimeLineElement
        title="上海市实验学校————兼职人工智能社团教学老师"
        subtitle="2023.09——2024.01 教学部"
    >
    </TimeLineElement>

    <TimeLineElement
        title="QD机器人编程机构————兼职编程教师"
        subtitle="2023.06——2024.01 教学部"
    >
    </TimeLineElement>

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">竞赛经历</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="第三届全国技能大赛上海市选拔赛——商务软件解决方案赛项（全栈开发方向）"
      subtitle="冠军————2024.12"
    >
    </TimeLineElement>
    <TimeLineElement
        title="第九届中国国际互联网+大学生创新创业竞赛上海赛区"
        subtitle="1铜奖，1优胜奖（负责人）————2023.09"
    >
    </TimeLineElement>
    <TimeLineElement
        title="2023金砖职业技能竞赛——移动应用开发赛项（安卓开发方向）"
        subtitle="全国三等奖————2023.07"
    >
    </TimeLineElement>

    <TimeLineElement
        title="2022第二届物联网技术大赛国际邀请赛（智能硬件方向）"
        subtitle="中国赛区二等奖————2022.12"
    >
    </TimeLineElement>
    <TimeLineElement
        title="阿里巴巴天池大赛全球未来汽车智能场景创新大赛（深度学习方向）"
        subtitle="亚军————2022.12"
    >
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">软件著作权</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank">早瞰（2023年05月01日）</a>
    </li>
    <li>
      <a href="#" target="_blank">基于itracker的眼动视频录制小程序（2023年02月01日）</a>
    </li>
    <li>
      <a href="#" target="_blank">See For You（2022年09月01日）</a>
    </li>
    <li>
      <a href="#" target="_blank">轻互物联网虚拟仿真系统（2021年08月10日）</a>
    </li>

  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">技能证书</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> 高级工（计算机程序设计员）</a>
    </li>
    <li>
      <a href="#" target="_blank">Microsoft AI-900</a>
    </li>
    <li>
      <a href="#" target="_blank">CET-4</a>
    </li>
    <li>
      <a href="#" target="_blank">上海商学院信息安全漏洞报送</a>
    </li>
    <li>
      <a href="#" target="_blank">开放水域潜水员（OW）</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">语言</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>JAVA</li>
    <li>PHP</li>
    <li>ArkTs</li>
    <li>Kotlin</li>
    <li>C#</li>
    <li>Dart</li>
    <li>Java Script</li>
    <li>Python</li>
    <li>C++</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">框架</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Vue.js</li>
    <li>React</li>
    <li>Flutter</li>
    <li>Android Native</li>
    <li>Arduino智能硬件</li>
    <li>SpringBoot</li>
    <li>Asp.NET</li>
  </ul>

</BaseLayout>
